.App {
  text-align: center;
}

ul{
  list-style-type: none;
  margin:0;
  padding: 0;
  background: #333;
   
}
li{
   float: left;
}
li a{
  display: inline-block;
  color:white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: rgb(8, 37, 65);
   
}
li a:hover{
  background: #111;
}