*{
    box-sizing: border-box;
}
body{
    margin:0 auto;
}
.row{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    
}
.coulmn{
    flex:20%;
    max-width: 20%;
    padding-right:4px;
}
.coulmn img{
    width: 100%;
    margin-top:8px;
    vertical-align: middle;
}
@media screen and (max-width:800px){
    .coulmn{
        flex:50%;
        max-width: 50%;
    }

}
@media screen and (max-width:600px){
    .coulmn{
        flex:100%;
        max-width:100%;
    }
}
