.App {
    text-align: center;
  }
  
  $font-stack:    Helvetica, sans-serif;
  $primary-color: #333;
  $bg :lightgreen;
  
  body {
    font: 100% $font-stack;
    color: $primary-color;
    background:$bg;
  }
  