body{
     
    background-color:rgb(200, 200, 200);
    background-color:#e6e6e6;
    background:#e6e6e6;
    
    /* background-image: url('img/08.jpg');
    background-repeat: repeat-y;
    background-repeat: no-repeat;      */
     /* background-size:cover; */
    /* background-size: cover;    
    background-position:center center;
    background-attachment: fixed; */
    height:1900px;
    /* background-image: url('img/08.jpg') center center cover no-repeat fixed; */
    background-image: url('img/08.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
     
}
p{
    font-size: 17px;
    color: white;
    font-weight: bold
}