<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>person Page</title>
</head>

<body>
    <h1> example from Person page <%= ID %></hWhat is Express?What is Express?1>
       
</body>

</html>